$darkpurple: #1f181f;
$darkpurple2: #312b31;
$hoverpurple: #474356;
$greypurple: #5f5d65;
$lightpurple: #817d8f;

$darkblue: #252132;
$cyan: #3697ff;
$blueLink: #3a579a;
$lightcyan: #d8e8ff;
$facebook: #3b5998;

$red: #f44336;
$orange: #f05d00;

$green: #26c875;
$lightgreen: #78a300;

$yellow: #ff0;

$darkgrey: #333;
$grey: #666;
$lightgrey: #bebebe;
$lightgrey2: #dde2e5;

$lightergrey: #f7f7f7;
$lightergrey2: #f1f1f1;

$skypeCyan: #00aff0;
